body {
    font-family: 'Reddit Mono', monospace;
    background: linear-gradient(to right, #333333, #666666);
}

.nav-link {
    color: #fff !important; 
    transition: transform 500ms !important;
}

.disabled {
    color: black !important;
}

.nav-link:hover {
    color: black !important;
    transform: scale(1.5) !important;
}

h1 {
    color: #fff; /* White text color for contrast */
    padding: 20px;
}

#footer {
    font-size: 0.8em;
    color: #FFF;
}

p {
    color: #fff;
    font-size: 1.5em;
}

