

body {
    font-family: 'Reddit Mono', monospace;
    background: #333333;
}


.navbar-toggler{
    background-color: #FFF;
}

.nav-link {
    color: #fff !important;
    transition: transform 500ms !important;
}

.custom-column {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-link:hover {
    color: black !important;
    transform: scale(1.5) !important;
}

h1,
h2,
h3 {
    color: #fff;
    /* White text color for contrast */
    padding: 20px;
}

.footer {
    font-size: 0.8em;
    color: #FFF;
}

p {
    color: #fff;
    font-size: 1.5em;
}

li {
    color: #fff;
    font-size: 1.5em;
}

.disabled {
    color: black !important;
}

.language-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.language-buttons button {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #808b96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 500ms;
}

.language-buttons button:hover {
    background-color: #2a2e32;
    opacity: 1;
}

footer {
    margin-bottom: 70px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    width: 640px;
    height: 480px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

img.lazy {
    opacity: 0.5;
}

img.loaded {
    opacity: 1;
}