

body {
    font-family: 'Reddit Mono', monospace;
    background: #333333;
}


.navbar-toggler{
    background-color: #FFF;
}

.nav-link {
    color: #fff !important;
    transition: transform 500ms !important;
}

.custom-column {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-link:hover {
    color: black !important;
    transform: scale(1.5) !important;
}

h1,
h2,
h3 {
    color: #fff;
    /* White text color for contrast */
    padding: 20px;
}

.footer {
    font-size: 0.8em;
    color: #FFF;
}

p {
    color: #fff;
    font-size: 1.5em;
}

li {
    color: #fff;
    font-size: 1.5em;
}

.disabled {
    color: black !important;
}

.language-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.language-buttons button {
    margin-left: 5px;
    padding: 8px 15px;
    background-color: #808b96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 500ms;
}

.language-buttons button:hover {
    background-color: #2a2e32;
    opacity: 1;
}

footer {
    margin-bottom: 70px;
}
