.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 1rem;
  border: 1px solid #fff;
  color: #ffffff;
  text-decoration: none;
  padding: 32px;
}

.card:visited {
  color: #ffffff;
}

.card:hover {
  color: #ffffff;
}

.card:active {
  color: #ffffff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card svg {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 8px;
  align-self: start;
}

.card.no-description svg,
.card.no-description img {
  flex: 0 0 65%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}

.card.no-description .title {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
}
