@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sysarmy-blue: #00a8e6;
  --sysarmy-blue-hover: #0096d1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sysarmy-blue: var(--sysarmy-blue);
  --color-sysarmy-blue-hover: var(--sysarmy-blue-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
}
